@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.inforss-thumb
{
    width: 5px;
    min-width: 5px;
    max-width: 10px;
    height: 20px;
    min-height: 20px;
    -moz-appearance: none !important;
    background: none;
    background-color: #EFF5FB;
    -moz-border-bottom-colors: rgb(113, 111, 100) rgb(172, 168, 153);
    -moz-border-left-colors: rgb(241, 239, 226) rgb(255, 255, 255);
    -moz-border-right-colors: rgb(113, 111, 100) rgb(172, 168, 153);
    -moz-border-top-colors: rgb(241, 239, 226) rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 3px;
}

/* doesn't affect the statusbar popup menu not sure why not
menu.menu-iconic > .menu-iconic-left,
menuitem.menuitem-iconic > .menu-iconic-left
{
    display: -moz-box;
}
*/

/* This fixes lack of display on rss-select-menu  */
#rss-select-menu menu.menu-iconic > .menu-iconic-left,
#rss-select-menu menuitem.menuitem-iconic > .menu-iconic-left
{
    display: -moz-box;
}

/* Now we have a whole load of things to make sure icons are 16x16 even if the
   website says different
*/

/* Basic:Feed/Group popup menu */
#rss-select-menu image.menulist-icon
{
    width: 16px;
    height: 16px;
}

/* Basic:Feed/Group feed selection for group */
#group-list-rss image.listcell-icon
{
    width: 16px;
    height: 16px;
}

/* Advance:Default values feed list */
#inforss-apply-list image.listcell-icon
{
    width: 16px;
    height: 16px;
}

/* What do these do. and why are they the same?
   In any case they do nothing as evniced by the colours
.menu-iconic[inforsstype="group"] > .menu-right
{
  display: none;
  background: blue
}

.menu-iconic[inforsstype="html"] > .menu-right
{
  display: none;
  background: pink
}
*/

hbox.inforssSlider
{
    -moz-binding: url('chrome://inforss/content/inforssBindings.xml#inforssSlider');
}

.inforss-slider
{
    height: 20px;
    max-width: 170px;
}

.inforss-statusbarpanel
{
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    -moz-appearance: none !important;
    border-style: inset;
}


/* FIXME this will break everyone elses from my experience */
.url
{
    cursor: pointer;
    color: #3A69A6;
}

.about-dialog
{    
}

.about-box
{
    background-color: white;
    padding: 13px;
    padding-top: 5px;
}

.about-product-name
{
    font-weight: bold;
    font-size: x-large;
}

.about-sub-title
{
    font-weight: bold;
}

.credit-link
{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.label1
{
    max-width: 250px;
    min-width: 250px;
    width: 250px;
}

.label2
{
    max-width: 170px;
    min-width: 170px;
}

.label3
{
    max-width: 100px;
    min-width: 100px;
}

.label4
{
    max-width: 150px;
    min-width: 150px;
}

.label5
{
    max-width: 70px;
    min-width: 70px;
}

.label6
{
    max-width: 220px;
    min-width: 220px;
    width: 220px;
}

.spacer1
{
    max-width: 30px;
    min-width: 30px;
}