module.exports = {
    "extends": "eslint:all",
    "rules": {
        // Then we need to cut down / configure the rules we don't like
        // override default options
        "comma-dangle": ["error", "always"],
        "indent": ["error", 2],
        //"no-cond-assign": ["error", "always"],

        // disable now, but enable in the future
        //"one-var": "off", // ["error", "never"]

        // disable
        //"init-declarations": "off",
        "no-console": "off",
        "no-inline-comments": "off",
    }
}
