@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.inforss-thumb
{
    width: 5px;
    min-width: 5px;
    max-width: 10px;
    height: 20px;
    min-height: 20px;
    -moz-appearance: none !important;
    background: none;
    background-color: #EFF5FB;
    -moz-border-bottom-colors: rgb(113, 111, 100) rgb(172, 168, 153);
    -moz-border-left-colors: rgb(241, 239, 226) rgb(255, 255, 255);
    -moz-border-right-colors: rgb(113, 111, 100) rgb(172, 168, 153);
    -moz-border-top-colors: rgb(241, 239, 226) rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 3px;
}

/* This fixes lack of display on rss-select-menu  */
#rss-select-menu .menu-iconic > .menu-iconic-left,
#rss-select-menu .menuitem-iconic > .menu-iconic-left
{
    display: -moz-box;
}

/* Now we have a whole load of things to make sure icons are 16x16 even if the
   website says different
*/
#rss-select-menu .menulist-icon, /* Basic:Feed/Group popup menu */
#group-list-rss .listcell-icon, /* Basic:Feed/Group feed selection for group */
#inforss-apply-list .listcell-icon /* Advance:Default values feed list */
{
    width: 16px;
    height: 16px;
}

.inforssSlider
{
    -moz-binding: url('chrome://inforss/content/inforssBindings.xml#inforssSlider');
}

.inforss-slider
{
    height: 20px;
    max-width: 170px;
}

.inforss-statusbarpanel
{
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    -moz-appearance: none !important;
    border-style: inset;
}

.inforss-credit-link
{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.inforss-label1
{
    max-width: 250px;
    min-width: 250px;
    width: 250px;
}

.inforss-label2
{
    max-width: 170px;
    min-width: 170px;
}

.inforss-label3
{
    max-width: 100px;
    min-width: 100px;
}

.inforss-label4
{
    max-width: 150px;
    min-width: 150px;
}

.inforss-label5
{
    max-width: 70px;
    min-width: 70px;
}

.inforss-label6
{
    max-width: 220px;
    min-width: 220px;
    width: 220px;
}

.inforss-spacer1
{
    max-width: 30px;
    min-width: 30px;
}
