@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

treechildren:-moz-tree-cell(centered) {
    text-align: right !important;
}

treechildren:-moz-tree-image(active) {
    list-style-image: url("chrome://inforss/skin/status-active.png");
}

treechildren:-moz-tree-image(inactive)
{
    list-style-image: url("chrome://inforss/skin/status-inactive.png");
}

treechildren:-moz-tree-image(error) {
    list-style-image: url("chrome://inforss/skin/status-error.png");
}

treechildren:-moz-tree-image(on)
{
    list-style-image: url("chrome://inforss/skin/on.png");
}

treechildren:-moz-tree-image(off)
{
    list-style-image: url("chrome://inforss/skin/off.png");
}

treechildren:-moz-tree-row(group)
{
    background-color: rgb(188, 219, 255);
}

treechildren:-moz-tree-row(rss)
{
    background-color: rgb(221, 239, 247);
}

treechildren::-moz-tree-image(icon)
{
    width: 16px;
    height: 16px;
}

xul:listcell > xul:image
{
    border-style: solid;
    border-width: 1px;
    border-color: red;
}